<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>Numeric Sequence Calculator</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">

    <style>
        .alert {
            word-wrap: break-word;
        }
    </style>

</head>
<body>

    <div class="container">
        <h1>Numeric Sequence Calculator</h1>

        <div v-if="errors.length > 0" class="alert alert-danger">
            <ul>
                <li v-for="error in errors">{{error}}</li>
            </ul>
        </div>

        <div class="form-group">
            <label for="user-input">Please enter a number</label>
            <input
                v-model="userInput"
                type="number"
                id="user-input"
                class="form-control"
            >
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">All numbers</div>
            <div class="panel-body">
                <span v-for="number in allNumbers" v-if="allNumbers.length > 0">
                    <span>{{number}}</span><span v-if="$index !== allNumbers.length - 1">, </span>
                </span>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">Odd numbers</div>
            <div class="panel-body">
                <span v-for="number in oddNumbers" v-if="oddNumbers.length > 0">
                    <span>{{number}}</span><span v-if="$index !== oddNumbers.length - 1">, </span>
                </span>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">Even numbers</div>
            <div class="panel-body">
                <span v-for="number in evenNumbers" v-if="evenNumbers.length > 0">
                    <span>{{number}}</span><span v-if="$index !== evenNumbers.length - 1">, </span>
                </span>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">Numbers with letter replacements</div>
            <div class="panel-body">
                <span v-for="number in numbersWithLetterReplacements" v-if="numbersWithLetterReplacements.length > 0" track-by="$index">
                    <span>{{number}}</span><span v-if="$index !== numbersWithLetterReplacements.length - 1">, </span>
                </span>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">Fibonacci numbers</div>
            <div class="panel-body">
                <span v-for="number in fibonacciNumbers" v-if="fibonacciNumbers.length > 0">
                    <span>{{number}}</span><span v-if="$index !== fibonacciNumbers.length - 1">, </span>
                </span>
            </div>
        </div>
    </div>

    <script src="js/vue.min.js"></script>
    <script src="js/main.js"></script>
</body>
</html>